<!DOCTYPE html>
{% load static %}
<html>
<title>KMITL Lab Network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{% url 'index' %}" class="w3-bar-item w3-button"><b>KMITL</b> Lab Network</a>
    <!-- Float links to the right. Hide them on small screens -->
    {% comment %} <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Search</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div> {% endcomment %}
  </div>
</div>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Present by PROJECT2</p>
</footer>

</body>
</html>
