{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'asset\base.css' %}" />
</head>
    <div class="container">
        <h1>Welcome to Class Attendance System</h1>
        <br/><br/>
        <table class="table">
            <thead>
                <tr>
                    <th  href="#" class="w3-bar-item w3-button" scope="col">Time</th>
                    <th href="#" class="w3-bar-item w3-button" scope="col">Subject</th>
                    <th href="#" class="w3-bar-item w3-button" scope="col">Section</th>
                    <th href="#" class="w3-bar-item w3-button" scope="col">Room</th>
                    <th href="#" class="w3-bar-item w3-button" scope="col">Student amount</th>
                    <th href="#" class="w3-bar-item w3-button" scope="col">Detail</th>
                    <th href="#" class="w3-bar-item w3-button" scope="col">Check in</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>test</td>
                    <td>
                        <a href="#">
                            <div class="btn btn-warning" id="id">View Topo</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Clone</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Delete</div>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>test interVlan</td>
                    <td>
                        <a href="#">
                            <div class="btn btn-warning" id="id">View Topo</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Clone</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Delete</div>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <br><br>
{% endblock %}