{% extends 'base.html' %}
{% block content %}
{% load static %}
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets\css\main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets\css\noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1><br />
								Lab Network KMITL, WELCOME.</h1>
							</header>
							<section class="tiles">

								<article class="style1" style="width: calc(50% - 2.5em) !important;">
									<span class="image">
										<img src="{% static 'img\pic01.jpg' %}" alt="" />
									</span>
									<a href="#">
										<h2>VM Topology</h2>
										<div class="content">
											<p>create your own lab network topology.</p>
										</div>
									</a>
								</article>

								<article class="style2"  style="width: calc(50% - 2.5em) !important;">
									<span class="image">
										<img src="{% static 'img\pic02.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>NW topology</h2>
										<div class="content">
											<p>config network topology.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</div>
{% endblock %}

