{% extends "base2.html" %}
{% block content %}
{% load static %}
<script>
$("input[type='submit']").click(function() { return false; });
</script>
<head>
    <link rel="stylesheet" href="{% static 'asset\content.css' %}">
</head>
<div class="container">
        <br><br>
       <div class="container site-content">
        <div class="row">
            <div id="main" class="site-main col-sm-12 full-width"> <!-- delete id -->
                <article id="post-11500" class="post-11500 page type-page status-publish hentry pmpro-has-access"> <!-- delete id+class -->
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid entry">
                            <div class="wpb_column vc_column_contain vc_col-sm-12">
                                <div class="vc_column_inner">
                                    <div class="wpb_wrap">
                                        <div class="vc_contain" data-vc-action="collapse">
                                            <div class="vc vc_general vc_spacing vc_color">
                                                <div class="vc_tab-contain">
                                                    <ul class="vc_tab-list">
                                                        <li class="vc_tab vc_active" style="background: #fff;" data-vc-tab>
                                                            <a href="{% url 'report' %}" class="vc">
                                                                <span class="vc_title-text">IP Report</span>
                                                            </a>
                                                        </li>
                                                        {% comment %} <li class="vc_tab" data-vc-tab>
                                                            <a href="{% url 'file_report' %}" class="vc">
                                                                <span class="vc_title-text"  style="color: #fff;">File Report</span>
                                                            </a>
                                                        </li> {% endcomment %}
                                                    </ul>
                                                </div>
                                                        

                                                <div class="vc_panel-contain">
                                                    <div class="vc_panels">
                                                        <div class="vc_panel vc_active">
                                                            <div class="vc_panel-body">
                                                                <div class="vc_border">
                                                                    <div class="from-group container">
                                                                    {% for template in temp_template %}
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Template: {{ template }}</th>
                                                                                    <th scope="col">
                                                                                        <a href="{% url 'create_report' temp_name=template %}">
                                                                                            <div class="btn btn-primary" type="submit" style='float: right'>Create Report</div>
                                                                                        </a>
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for temp in temp_deploy %}
                                                                                {% if template in temp %}
                                                                                    {% if temp|length <= template|length|add:3 %}
                                                                                {% comment %} {{ template|length|add:3 }} {% endcomment %}
                                                                                    <tr>
                                                                                        <td>{{ temp }}</td>
                                                                                        <td>
                                                                                            <a href="{% url 'deploy_del' deploy_name=temp %}">
                                                                                                <div class="btn btn-danger" type="submit">Delete</div>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                        {% endfor %}
                                                                    </div>
                                                        
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</div>
<br><br>
{% endblock %}