{% extends "base2.html" %}
{% block content %}
{% load static %}
    <div class="container">
    <br><br><br><br>
        <h1>Create your template.</h1>
        <br/><br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Template Project</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {% comment %} <th scope="col"></th> {% endcomment %}
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>test</td>
                    <td>
                        <a href="{% url 'topo_nw' %}">
                            <div class="btn btn-warning" id="id">View Topo</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Clone</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-danger" id="sub_id">Delete</div>
                        </a>
                    </td>
                    {% comment %} <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Upload file</div>
                        </a>
                    </td> {% endcomment %}
                </tr>

                <tr>
                    <td>test interVlan</td>
                    <td>
                        <a href="#">
                            <div class="btn btn-warning" id="id">View Topo</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Clone</div>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <div class="btn btn-danger" id="sub_id">Delete</div>
                        </a>
                    </td>
                    {% comment %} <td>
                        <a href="#">
                            <div class="btn btn-primary" id="sub_id">Upload file</div>
                        </a>
                    </td> {% endcomment %}
                </tr>
            </tbody>

        </table>
    </div>
    <br><br>
{% endblock %}