{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>KMITL Lab Network</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'asset\main.css' %}" />
		<link rel="stylesheet" href="{% static 'asset\base.css' %}" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
    <div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{% url 'index' %}" class="w3-bar-item w3-button"><b>KMITL</b> Lab Network</a>
    <a href="#" class="w3-bar-item w3-button" style='margin-right: 53.6%;'>Performance</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Log out</a>
    <a href="#" class="w3-bar-item w3-button"><b>My Profile</b></a>
  </div>
</div>
	<body class="is-preload">

		<!-- Header -->
			<div id="header" style="width: 150px !important;">

				<div class="top">
					<!-- Nav -->
						<nav id="nav">
							<ul>
							<br><br><br><br>
							<li style="margin-right: 20px;"><h6>Network device<h6></li>
								<li style="margin-right: 50%; margin-left: 20%;">
									<a href="#" id="top-link">
										<span class="icon solid fa-home">
											<img src="{% static 'img\router.png' %}" alt="" style="width:45px; height:45px;" />
										</span>
									</a>
								</li>
							<br>
								<li style="margin-right: 50%; margin-left: 20%;">
									<a href="#" id="portfolio-link">
										<span class="icon solid fa-sw">
											<img src="{% static 'img\sw.png' %}" alt="" style="width:45px; height:45px;" />
										</span>
									</a>
								</li>
							<br>
								<li style="margin-right: 50%; margin-left: 20%;">
									<a href="#" id="about-link">
										<span class="icon solid fa-com">
											<img src="{% static 'img\pc.png' %}" alt="" style="width:45px; height:45px;" />
										</span>
									</a>
								</li>
							<br>
							<li style="margin-right: 90px;"><h6>Other<h6></li>
								<li style="margin-right: 50%; margin-left: 20%;">
									<a href="#" id="contact-link">
										<span class="icon solid fa-text">
											<img src="{% static 'img\letter.png' %}" alt="" style="width:36px; height:36px;" />
										</span>
									</a>
								</li>
							<br>
								<li style="margin-right: 50%; margin-left: 20%;">
									<a href="#" id="contact-link">
										<span class="icon solid fa-text">
											<img src="{% static 'img\circle.png' %}" alt="" style="width:45px; height:45px;" />
										</span>
									</a>
								</li>
							<br>
								<li style="margin-right: 50%; margin-left: 20%;">
									<a href="#" id="contact-link">
										<span class="icon solid fa-text">
											<img src="{% static 'img\square.png' %}" alt="" style="width:43px; height:43px;" />
										</span>
									</a>
								</li>
							</ul>
						</nav>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
				<!-- main topo -->
					<section id="top">
						<div class="container">
							
						</div>
					</section>
        		{% comment %} <div class="btn btn-primary" id="sub_id">
					SAVE
				</div> {% endcomment %}
			</div>

			<div id='header' style='width: 80px !important; height: 40px; margin-top: 43%; margin-left: 93%; background: none !important;'>
				<div class="btn btn-primary" id="sub_id">
					SAVE
				</div>
			</div>

	</body>
</html>
